.Title {
    font-family: "Lobster", sans-serif;
    font-size: 50px;
    font-style: normal;
    text-decoration: underline;
    text-decoration-color: pink;
  }
  .Lista {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 450px;
    margin-left: 420px;
    margin-top: 50px;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
  }
  ul .InputCSS {
    border: 1px solid gainsboro;
    text-align: center;
    justify-content: center;
    display: flex;
    width: 350px;
  }
  .list-group-item>button{
    display: none;
  }
  .list-group-item:hover>button{
    display:block;
  }
  .paper {
    background: #fff;
    box-shadow:
      /* The top layer shadow */
      0 1px 1px rgba(0,0,0,0.15),
      /* The second layer */
      0 10px 0 -5px #eee,
      /* The second layer shadow */
      0 10px 1px -4px rgba(0,0,0,0.15),
       /* The third layer */
      0 20px 0 -10px #eee,
      /* The third layer shadow */
      0 20px 1px -9px rgba(0,0,0,0.15);
      /* Padding for demo purposes */
      padding: 30px;
  }
  .AmountTasks{
    font-size: 0.8em;
    color: rgb(130, 128, 128);
    margin-right: 300px;
    margin-top: -25px;
    font-family: "Quicksand", sans-serif;
  }